# IDE and editor files
.idea/
.vscode
*.suo
*.sw?

# local-only files
local/

# Node
node_modules/

# OS files
.DS_Store
Thumbs.db

# Allow .gitkeep to prevent otherwise empty directories from being deleted
!.gitkeep
